@if (Request.IsAuthenticated)
{
    <text>
        @Html.ActionLink("Flux", "Index", "Flow", routeValues: null, htmlAttributes: new { title = "Mes flux d'actualités", @class = "col-md-2 btn btn-default" })
        @Html.ActionLink("Modifier mot de passe", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username col-md-2  btn btn-default", title = "Modifier mot de passe" })
        @Html.ActionLink("Gestion Profil", "ViewProfile", "Profile", routeValues: null, htmlAttributes: new { id = "profileViewLink", @class = " col-md-2 btn btn-default", title = "Gestion profil" })

        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "col-md-2 btn btn-default" }))
        { @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a>
        }

    </text>
}
else
{
    @Html.ActionLink("S'inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "col-md-2 col-md-offset-3 btn btn-primary" })
    @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = " col-md-2 col-md-offset-2 btn btn-primary" })
}
