@if (Request.IsAuthenticated)
{
    <div id="banner" class="logged-banner">
        <img src="/Images/FoxHead.png" id="left-fox" />
        <center>
            @Html.ActionLink("Flux", "Index", "Flow", routeValues: null, htmlAttributes: new { title = "Mes flux d'actualités", @class = "col-md-2 btn btn-default" })
            @Html.ActionLink("Emploi du temps", "GetDate", "EDT", routeValues: null, htmlAttributes: new { title = "Mon emploi du temps", @class = "col-md-2 btn btn-default" })
            @Html.ActionLink("Gestion Profil", "ViewProfile", "Profile", routeValues: null, htmlAttributes: new { id = "profileViewLink", @class = " col-md-2 btn btn-default", title = "Gestion profil" })

            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            { @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" class="col-md-2 btn btn-default">Se déconnecter</a>
            }
        </center> 
        <img src="/Images/FoxHead.png" id="right-fox" />
    </div>
}
else
{
    <div id="banner" class="unlogged-banner">
        <img src="/Images/FoxHead.png" id="left-fox" />
        @Html.ActionLink("S'inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "col-md-2  btn btn-default" })
        @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = " col-md-2 btn btn-default" })
        <img src="/Images/FoxHead.png" id="right-fox" />
    </div>
}
