@model StudentDATAWeb.Models.EventModel

@{
    ViewBag.Title = "AddEventToEDT";
}

<h2>AddEventToEDT</h2>

<section id="AddEventForm">
    @using (Html.BeginForm("AddEventToEDT","EDT"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <fieldset>
            @Html.LabelFor(m => m.Title)<br />
            @Html.TextBoxFor(m => m.Title)<br />

            @Html.LabelFor(m => m.Teacher)<br />
            @Html.TextBoxFor(m => m.Teacher)<br />

            @Html.LabelFor(m => m.Salle)<br />
            @Html.TextBoxFor(m => m.Salle)<br />

            @Html.LabelFor(m => m.Begin)<br />
            @Html.TextBoxFor(m => m.Begin)<br />

            @Html.LabelFor(m => m.End)<br />
            @Html.TextBoxFor(m => m.End)<br />

            <div class="row">
                <input class=" btn btn-primary" type="submit" value="Ajouter" />
            </div>
        </fieldset>
    }
</section>



@*<label>@e.Title</label><br />
<label>@e.Location</label><br />
<label>@e.TeachersToString</label><br />
<label>@e.Code</label><br />
<label>@e.BegToString</label><br />
<label>@e.EndToString</label><br />*@