@{
    ViewBag.Title = "DisplayEDT";
}

<h2 class="center-block">DisplayEDT</h2>


@foreach (var e in ViewBag.Planning)
{
    DateTime currentDay = DateTime.Now.Date ;
    DateTime begin = e.Beg;
    
   // int result = DateTime.Compare(begin, currentDay);

    if (currentDay.Date == begin.Date)
    {
        <div>
            <label>@e.Title</label><br />
            <label>@e.Location</label><br />
            <label>@e.TeachersToString</label><br />
            <label>@e.Code</label><br />
            <label>@e.BegToString</label><br />
            <label>@e.EndToString</label><br />
            <label>-------------------------</label>
        </div>
    }
    
}
<div class="edt-button-container">
@Html.ActionLink("Jour précédent", "PreviousDayPlanning", "EDT", routeValues: null, htmlAttributes: new { title = "Mes flux d'actualités", @class = "col-md-2  btn btn-default" })
@Html.ActionLink("Jour suivant", "NextDayPlanning", "EDT", routeValues: null, htmlAttributes: new { title = "Mes flux d'actualités", @class = "col-md-2 btn btn-default" })
    </div>


