@{
    ViewBag.Title = "DisplayEDT";
}

<h2 class="center-block">DisplayEDT</h2>


@foreach (var e in ViewBag.Planning)
{
    DateTime currentDay = ViewBag.currentday;
    DateTime begin = e.Beg;
   // int result = DateTime.Compare(begin, currentDay);

    if (currentDay.Date == begin.Date)
    {
        <div class="col-md-offset-3">
            <label>@e.Title</label>
            <label>@e.Location</label>
            <label>@e.TeachersToString</label>
            <label>@e.Code</label>
            <label>@e.BegToString</label>
            <label>@e.EndToString</label>
            <label>-------------------------</label>
        </div>
    }
    
}
@Html.ActionLink("Jour précédent", "PreviousDayPlanning", "EDT", routeValues: null, htmlAttributes: new { title = "Mes flux d'actualités", @class = "col-md-2 col-md-offset-5 btn btn-default" })
@Html.ActionLink("Jour suivant", "NextDayPlanning", "EDT", routeValues: null, htmlAttributes: new { title = "Mes flux d'actualités", @class = "col-md-2 col-md-offset-5 btn btn-default" })



