@model StudentDATAWeb.Models.ProfileModel
@{
    ViewBag.Title = "ManageAllUser";
}

<h2 class="col-md-offset-5">ManageAllUser</h2>
@foreach (StudentDATAWeb.Models.UserProfile user in ViewBag.UserList)
{

    using (Html.BeginForm("ManageProfile", "Admin"))
    {
    <fieldset>
        <ol>
            <li class="col-md-offset-5">
                @Html.LabelFor(m => m.UserName)
                @user.UserName
            </li>
            <li class="col-md-offset-5">
                <strong>Nom et Prénom : </strong>
                @user.FirstName @user.LastName
            </li>
            <li class="col-md-offset-5">
                <strong>Semestre et filière : </strong>
                @user.Code
            </li>
            <li class="col-md-offset-5">
                @Html.LabelFor(m => m.ActualActivity)
                @user.ActualActivity
            </li>
            <li class="col-md-offset-5">
                @Html.LabelFor(m => m.MailAdress)
                @user.MailAdress
            </li>
            <li class="col-md-offset-5">
                 @Html.LabelFor(m => m.Permission)
                 @Html.DropDownList("PermissionList", (IEnumerable<SelectListItem>)ViewBag.PermissionList, user.Permission.ToString(), new { id = "PermissionLists" })
            </li>
        </ol>
    </fieldset>
     <input class="col-md-offset-6 btn btn-primary"  type="submit" value="Modifier" />
     <input type="hidden" name="UserName" value="@user.UserName"/>
    }
}