@model StudentDATAWeb.Models.FlowPostModel
@{
    ViewBag.Title = "AddNewFlowPost";
}

<h2>Ajoutez un nouveau post</h2>
@using (@Html.BeginForm("AddNewPost", "Flow"))
{
    <fieldset>

        @Html.LabelFor(m => m.Title)<br />
        @Html.TextBoxFor(m => m.Title)<br />

        @Html.LabelFor(m => m.Content)<br />
        @Html.TextAreaFor(m => m.Content, new { rows = 7, cols = 30})<br />

        @Html.LabelFor(m => m.Url)<br />
        @Html.TextBoxFor(m => m.Url)<br />

        <label>Selectionnez le flux du post :</label><br />
        @Html.DropDownList("FlowList", (IEnumerable<SelectListItem>)ViewBag.AllRSSList, null, new { id = "FlowList", style ="margin-bottom : 10px" })<br />

        <input class="btn btn-primary" type="submit" />
    </fieldset>
}