@model StudentDATAWeb.Models.FlowPostModel
@{
    ViewBag.Title = "AddNewFlowPost";
}

<h2>Ajoutez un nouveau post</h2>
@using (@Html.BeginForm("AddNewPost", "Flow"))
{
    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content)
            </li>
            <li>
                @Html.LabelFor(m => m.Url)
                @Html.TextBoxFor(m => m.Url)
            </li>
            <li>
                <label>Selectionnez le flux du post :</label>
                @Html.DropDownList("FlowList", (IEnumerable<SelectListItem>)ViewBag.AllRSSList, null, new { id = "FlowList" })

               
            </li>

        </ol>
        <input type="submit" />
    </fieldset>
}