@model StudentDATAWeb.Models.SortPostModel
@{
    ViewBag.Title = "Flow";
}

<h2>Flow</h2>
<div class="sort-form">
    @using (Html.BeginForm("SortedPosts", "Flow"))
    {
        <h3>Flux préférés</h3>
        @Html.LabelFor(m => m.Semester)
        @Html.CheckBoxFor(m => m.Semester)
        @Html.LabelFor(m => m.Field)
        @Html.CheckBoxFor(m => m.Field)
        @Html.LabelFor(m => m.Pfh)
        @Html.CheckBoxFor(m => m.Pfh)
        <input type="submit" value="Trier" />
    }
</div>
@if (ViewBag.IsWriter)
{
    @Html.ActionLink("Ajouter", "AddPost", "Flow", routeValues: null, htmlAttributes: new { id = "AddPostLink" })
}
@foreach (var post in ViewBag.FlowList)
{
    <div>
        <label><a href="@post[2]">@post[0]</a></label>
        <p>@post[1]</p>
    </div>
}
