@model StudentDATAWeb.Models.LocalPasswordModel

<h2>Modifier le mot de passe :</h2>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)<br />
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)<br />
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)<br />
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input class="btn btn-primary" type="submit" style="margin-left : 40px"value="Modifier le mot de passe" />
    </fieldset>
}
