@model StudentDATAWeb.Models.LocalPasswordModel

<h3 class="col-md-offset-5">Modifier le mot de passe</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <ol>
            <li class="col-md-offset-5">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li class="col-md-offset-5">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li class="col-md-offset-5">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input class="col-md-offset-5 btn btn-primary" type="submit" value="Modifier le mot de passe" />
    </fieldset>
}
