@model StudentDATAWeb.Models.ProfileModel
@{
    ViewBag.Title = "_ModifyProfilePartial";
}

<h2>Modifier le profil</h2>
@using (Html.BeginForm("ChangeProfile", "Profile"))
{
    @Html.ValidationSummary()
    <fieldset>
        <legend>Formulaire d'inscription</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                <p>@ViewBag.UserPseudo</p>
            </li>
            <li>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = ViewBag.FirstName , name="FirstName"})
            </li>
            <li>
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { placeholder = ViewBag.LastName })
            </li>
            @Html.LabelFor(m => m.Semester)
            @Html.DropDownList("SemesterList", (IEnumerable<SelectListItem>)ViewBag.SemesterList,(string)ViewBag.UserSemester, new { id = "SemesterList" });
            <li>
            </li>
            @Html.LabelFor(m => m.StudyField)
            @Html.DropDownList("FieldList", (IEnumerable<SelectListItem>)ViewBag.FieldList,(string)ViewBag.UserField, new { id = "FieldList" })
            <li>
                @Html.LabelFor(m => m.ActualActivity)
                @Html.TextBoxFor(m => m.ActualActivity, new { placeholder = ViewBag.UserActivity })
            </li>
            <li>
                @Html.LabelFor(m => m.MailAdress)
                @Html.TextBoxFor(m => m.MailAdress, new { placeholder = ViewBag.MailAdress })
            </li>
        </ol>
        <input type="submit" value="Enregistrer" />
    </fieldset>

}