@model StudentDATAWeb.Models.LoginModel

@{ ViewBag.Title = "Se connecter"; }

    <hgroup class="title col-md-offset-5">
    <h1>@ViewBag.Title</h1>
</hgroup>

    <section id="loginForm">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            <fieldset>
                <div class="row">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-offset-5" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "col-md-offset-5" })
                    @Html.ValidationMessageFor(m => m.UserName)

                    @Html.LabelFor(m => m.Password, new { @class = "col-md-offset-5" })
                    @Html.PasswordFor(m => m.Password, new { @class = "col-md-offset-5" })
                    @Html.ValidationMessageFor(m => m.Password)

                    @*@Html.LabelFor(m => m.RememberMe, new { @class = "checkbox col-md-offset-5" })
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "col-md-offset-5" })*@
                </div>
        
                <div class="row">
                    <input class="col-md-offset-5 btn btn-primary" type="submit" value="Se connecter" />
                </div>
            </fieldset>
        }
    </section>

@*<section class="social" id="socialLoginForm">
    <h2>Utilisez un autre service pour vous connecter.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
